force-app/main/default/flows/Flow_to_check_leads_email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>update_email</name>
        <label>update email</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>updated_email</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>check_email_length</name>
        <label>check_email_length</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>none</defaultConnectorLabel>
        <rules>
            <name>if_length_is_less_than_20</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>length_of_email</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_email</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>if_length_is_less_than_20</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>length_of_email</name>
        <dataType>Number</dataType>
        <expression>LEN({!$Record.Email})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>updated_email</name>
        <dataType>String</dataType>
        <expression>{!$Record.Email} + &quot;z&quot;</expression>
    </formulas>
    <interviewLabel>Flow_to_check_leads_email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow_to_check_leads_email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_email_length</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
